In [3]:
import pandas as pd

# prepare some data for demonstration
df = pd.DataFrame({
    "weekday": ["Monday", "Thursday", "Wednesday"],
    "temperature": [20, 30, 25],
    "precipitation": [100, 200, 150],
}).set_index("weekday")

print(df.to_markdown())

| weekday   |   temperature |   precipitation |
|:----------|--------------:|----------------:|
| Monday    |            20 |             100 |
| Thursday  |            30 |             200 |
| Wednesday |            25 |             150 |

In [4]:
from tabulate import tabulate

print(tabulate(df, tablefmt="pipe", headers="keys"))

| weekday   |   temperature |   precipitation |
|:----------|--------------:|----------------:|
| Monday    |            20 |             100 |
| Thursday  |            30 |             200 |
| Wednesday |            25 |             150 |

In [9]:
styled_df = df.style.background_gradient(subset=['temperature'],
			  cmap='BuGn')

In [13]:
html = styled_df.to_html()

In [14]:
print(html)

<style type="text/css">
#T_7a378_row0_col0 {
  background-color: #f7fcfd;
  color: #000000;
}
#T_7a378_row1_col0 {
  background-color: #00441b;
  color: #f1f1f1;
}
#T_7a378_row2_col0 {
  background-color: #65c2a3;
  color: #000000;
}
</style>
<table id="T_7a378">
  <thead>
    <tr>
      <th class="blank level0" >&nbsp;</th>
      <th id="T_7a378_level0_col0" class="col_heading level0 col0" >temperature</th>
      <th id="T_7a378_level0_col1" class="col_heading level0 col1" >precipitation</th>
    </tr>
    <tr>
      <th class="index_name level0" >weekday</th>
      <th class="blank col0" >&nbsp;</th>
      <th class="blank col1" >&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th id="T_7a378_level0_row0" class="row_heading level0 row0" >Monday</th>
      <td id="T_7a378_row0_col0" class="data row0 col0" >20</td>
      <td id="T_7a378_row0_col1" class="data row0 col1" >100</td>
    </tr>
    <tr>
      <th id="T_7a378_level0_row1" class="row_heading level0 row1" >Thursday</th>
      <td id="T_7a378_row1_col0" class="data row1 col0" >30</td>
      <td id="T_7a378_row1_col1" class="data row1 col1" >200</td>
    </tr>
    <tr>
      <th id="T_7a378_level0_row2" class="row_heading level0 row2" >Wednesday</th>
      <td id="T_7a378_row2_col0" class="data row2 col0" >25</td>
      <td id="T_7a378_row2_col1" class="data row2 col1" >150</td>
    </tr>
  </tbody>
</table>